@font-face {
    font-family: 'Rosemary';
    font-style: normal;
    font-weight: normal;
    src: local('Rosemary'), url('../assets/fonts/rosemary.woff') format('woff');
}

html,
body {
    font-size: 14px;
    background-color: #303030;
    font-family: Rosemary;
    color: #ffffff;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.alignment {
    vertical-align: bottom;
}

.card {
    background-color: #343a40;
    height: auto;
    margin: 14px;
    width: 170px;
}

.container {
    max-width: 960px;
}

.btn-group-fab {
    position: fixed;
    width: 50px;
    height: auto;
    right: 20px;
    bottom: 16.1px;
    z-index: 1000;
}

.btn-group-fab div {
    position: relative;
    width: 100%;
    height: auto
}

.btn-group-fab .btn {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    display: block;
    margin-bottom: 4px;
    width: 40px;
    height: 40px;
    margin: 4px auto
}

.btn-group-fab .btn-main {
    width: 60px;
    height: 60px;
    right: 50%;
    margin-right: -25px;
    z-index: 9;
    background: #35363A;
}

.form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form img {
    display: flex;
    margin: 0 auto;
}

.form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form .form-control:focus {
    z-index: 2;
}

.form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.hide {
    display: none;
}

.home-header {
    max-width: 700px;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron h1 {
    text-align: center;
}

.line {
    border-bottom: solid 1px #f8f9fa;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-content {
    border-radius: 9px;
}

.modal-dark {
    width: 100%;
    background-color: #35363A;
    border: solid 2px #3C4043;
    border-radius: 8px;
}


.swiper-container {
    height: 300px;
    justify-content: center;
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.closebtn svg {
    height: 2em;
    margin-left: 50px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 2em;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
