@font-face {
font-family: 'Rosemary';
font-style: normal;
font-weight: normal;
src: local('Rosemary'), url('../assets/fonts/rosemary.woff') format('woff');
}

html,
body {
  font-size: 14px;
  background: url("../assets/images/background_unfocused.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:Rosemary;
  color:#ffffff;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top:20%;
  margin-bottom: 20%;
}

.container {
    max-width: 960px;
}

.home-header {
    max-width: 700px;
}

.jumbotron {
  background-color: #000000;
  opacity:0.3;
}

.jumbotron h1 {
  text-align:center;
  
}
