html {
    font-size: 14px;
}

body {
    background: url("/assets/images/background.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.home-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.modal-dialog {
    /* Width */
    max-width: 100%;
    width: 18rem;
     !important;
    display: flex;
}

.modal {
    z-index: -1;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-open .modal {
    z-index: 1050;
}

.no-elements {
    display: none;
}

.modal-body {
    border-radius: 0.5rem;
    background: url("/assets/img/background.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
